{% include 'Authentication/base.html' %}
<title> Beijing 2022 - Players </title>
<h5 class="text-center text-primary my-3 mb-3">Olympic players - Beijing 2022</h5>


<div class="row">
    {% for player in players %}
    <div class="col-md-4">
        <div class="card mb-3">
            <img src="{{player.image.url}}" class="card-img-top" alt="{{player.name}}"/>
            <div class="card-body">
              <h5 class="card-title">{{player.name}}</h5>
              
              <p class="card-text">
                <small class="text-muted">
                   Country : <span class="text-success text-bold mx-2"> {{player.country}} </span>
                   <br>
                   Age : <span class="text-success text-bold"> {{player.age}} </span>
                   <br>
                   Expertise : <span class="text-success text-bold"> {{player.expertise}} </span>
                </small>
                <hr>
                
              </p>
              <p class="card-text">
                {{player.description}}
              </p>
              <a href="{% url 'Game:player-profile' player.id %}" class="btn btn-success" > View Profile </a>
            </div>
          </div>
          
    </div>
    {% endfor %}
    <hr>
</div>


{% include 'Game/footer.html' %}